<!DOCTYPE html>
<html>
   <head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}" >
  
   </head>
   <body>
	<h1>WELCOME TO FARM {{ farm.name.upper() }}</h1>
   <p>
      Farm {{ farm.name.upper() }} is located in {{ farm.location.upper() }}.<br>

   </p>
   If you are a farm {{ farm.name.upper() }}, please add your products <a href="{{ url_for('products', id=farm.id)  }}">HERE</a><br>

   <h2>Farm {{ farm.name.upper() }} offers:</h2>
   <p>
      {% for product in products %}
          <li>{{ product.name }}</li>
      {% endfor %}
   </p>

   <br>

   <a href="{{ '/' }}">BACK TO HOMEPAGE</a><br>
   <br>
   </body>
</html>

