{% extends 'base.html' %}

{% block header %}
	<h1>WELCOME TO FARM {{ farm.name.upper() }}</h1><br>

{% endblock header %}

{% block content %}
   <p>
   If you are a farm {{ farm.name.upper() }}, please add your products <a href="{{ url_for('products', id=farm.id)  }}">HERE</a><br>
   </p> 
   <p>
      Farm {{ farm.name.upper() }} is located in {{ farm.location.upper() }}.<br>

   </p>

   <h2>Farm {{ farm.name.upper() }} offers:</h2>
   <p>
      {% for product in products %}
          <li>{{ product.name }}</li>
      {% endfor %}
   </p>

   <br>

   <a href="{{ '/' }}">BACK TO HOMEPAGE</a><br>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}" >
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/farmimage.css') }}" >
   <br>
{% endblock content %}
